::ng-deep {
  .social-menu {
    a {
      color: rgb(58, 58, 58);

      :hover {
        color: #6c757d;
      }

      text-decoration: none;

      h5 {
        font-size: 110%;

        i {
          // margin-right:0.2em;
        }
      }
    }

    li {
      margin-right: 1em;
      float: left;
      text-decoration: none;
    }


  }
  .menu-end-items {
    @media screen and (min-width: 760px) {
      float: left;
    }

    @media screen and (max-width: 760px) {
      float: right;
    }
  }

  .vertical-center {
    margin-top: 1em;
  }
}
