<p-menubar [model]="items">
  <ng-template pTemplate="end">

   <div class="menu-end-items">
    <ul class="social-menu">
      <li *ngFor="let item of social">
        <a [href]="item.href" target="_blank">
          <h5><i [class]="item.icon"></i>{{ item.label }}</h5>
        </a>
      </li>
    </ul>
   </div>

   <div class="menu-end-items">
    <p-selectButton [options]="languageSwitch"
                  [(ngModel)]="languageCase"
                  optionLabel="label"
                  optionValue="value"
                  (onOptionClick)="useLanguage()"
                  styleClass="vertical-center"></p-selectButton>
   </div>

  </ng-template>
</p-menubar>
