<div class="md:col-8 md:col-offset-2 col-12 profile">
  <h1>Maksym Ostapenko Kulieba</h1>

  <div class="grid mb-3 p-5">
    <p>{{description.text}}</p>

  </div>

  <div class="" style="text-align: center">

    <h1>Mi ruta</h1>

    <div class="card">
      <p-timeline [value]="timeline" align="alternate" styleClass="customized-timeline">
          <ng-template pTemplate="marker" let-event>
              <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                  <i [ngClass]="event.icon"></i>
              </span>
          </ng-template>
          <ng-template pTemplate="content" let-event>
              <p-card [header]="event.status" [subheader]="event.date">
                <p [innerHTML]="event.text"></p>
              </p-card>
          </ng-template>
      </p-timeline>
    </div>

  </div>
</div>
